<% layout('layouts/boilerplate') %>
    <h1>
        <%= shop.name %>
    </h1>

    <section id="showContainer">
        <div id="detailsContainer">
            <div id="img" style="background-image: url(<%= shop.image %>);"></div>
            <p id="location" class="borderBottom">
                <%= shop.location %>
            </p>
            <p id="description" class="borderBottom">
                <%= shop.description %>
            </p>
            <div id="phoneHours" class="borderBottom">
                <span id="phone">
                    Phone: <%= shop.phone %>
                </span>
                <span id="hours">
                    Hours: <%= shop.hours %>
                </span>
            </div>
            <p id="features" class="borderBottom">
                Features: <%= shop.features %>
            </p>
            <a id="link" href="<%= shop.link %> ">
                <%= shop.name %> Webpage
            </a>
        </div>
        <div id="mapReviewContainer">
            <div id="mapContainer">Maps coming soon</div>
            <div id="review Container">Reviews coming soon</div>
        </div>
    </section>
    <section id="btnContainer">
        <a id="editBtn" href="/shops/<%= shop._id %>/edit ">
            <button>Edit Shop</button>
        </a>
        <form id="deleteBtn" action="/shops/<%= shop._id %>?_method=DELETE" method="POST">
            <button>Delete Shop</button>
        </form>
    </section>